[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genekitr"]
	path = genekitr
	url = https://github.com/ganglilab/genekitr
[submodule "geneset"]
	path = geneset
	url = https://github.com/ganglilab/geneset
